.course-card {
  width: 30%;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.course-card img {
  border-radius: 10px;
  aspect-ratio: 1;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.course-card .course-info {
  margin-top: 10px;
}

.course-card .icon {
  margin: auto 0;
  margin-right: 15px;
}

.course-card .course-card-content {
  padding: 30px;
}

.course-card .btn-enroll {
  width: 100%;
  margin-bottom: 20px;
}

.course-content {
  width: 70%;
}
