form .input-group {
  margin-bottom: 16px;
}

form h1 {
  text-align: center;
}

form label {
  font-weight: 600;
  display: block;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px !important;
}

form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px !important;
  height: 5rem;
}

form .errorlist {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  list-style: none;
  color: #d62828;
}

form .form-buttons {
  display: flex;
  justify-content: center;
}

form .form-buttons * {
  width: 90px;
}
